%h1 Listing business_users

%table
  %tr
    %th
    %th
    %th

  - @business_users.each do |business_user|
    %tr
      %td= link_to 'Show', business_user
      %td= link_to 'Edit', edit_business_user_path(business_user)
      %td= link_to 'Destroy', business_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Business user', new_business_user_path
