.col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
  .panel.panel-info
    .panel-heading
      %h3
        .panel-title
          = current_user.full_name
          = link_to 'Edit', edit_user_path(current_user), class: 'btn btn-primary pull-right'
    .panel-body
      .row
        .span2
          .col-md-3.col-lg-3{:align => "center"}
            - if current_user.has_logo?
              = image_tag current_user.company_logo.url, class: 'img-circle'
            - else
              = image_tag 'photo', alt: "User Pic", class: 'img-circle'
        .span10
          .col-md-9.col-lg-9
            %table.table.table-user-information
              %tbody
                %tr
                  %td Department:
                  %td Programming
                %tr
                  %td Account Created On:
                  %td=current_user.created_at
                %tr
                  %td Date of Birth
                  %td 01/24/1988
                %tr
                  %tr
                    %td Gender
                    %td Male
                  %tr
                    %td Home Address
                    %td=current_user.complete_address
                  %tr
                    %td Email
                    %td
                      %a{:href => "mailto:info@support.com"}=current_user.email
                  %td Phone Number
                  %td
                    =current_user.phone
                    (Landline)
                    %br
                      %br
                        =current_user.mobile
                        (Mobile)