// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.token-input-list-facebook {
  width: 280px !important;
}

.small_width{
  width: 100px;
}

.button-set-crud {
  margin: 10px 0;
}

.margin2pr{
  margin-bottom: 2%;
}

.margin5pr{
  margin-bottom: 5%;
}

.margin10pr{
   margin-bottom: 10%;
}

.margin20pr{
  margin-bottom: 20%;
}