<% if (devise_controller? || controller_name == "businesses" && ["new","create"].include?(action_name))%>
  <div class="span-12">
   <div class="border-form-div">
      <%= yield %>
   </div>
  </div>
<% else %>
  <div class="span9">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
<% end %>